/* THE SETTINGS FOR DESKTOPS */
/* Above the 375px */

@media (min-width: 62.5em) {
  /********************/
  /* Global Style */
  /********************/

  /* The Layout Settings */
  /********************/

  .wrapper {
    /* The Box Model */
    min-width: 90rem; /* -> for max-width of the container depending on the design (for the tablet) */
    padding-top: 1.5rem;
    /* The Flexbox */
    display: flex;
    flex-direction: column;
  }

  .container {
    /* The Box Model */
    width: 77.083333%; /* -> for  1110 width of the content area depending on the design (for the tablet) */
    /* -> for 165 margin-left and 165 margin-right of the container depending on the design (for the tablet) */
    margin: 0 auto;
  }

  /********************/
  /* Components Style */
  /********************/

  /* The Header Area */
  /**********************/

  .header {
    /* The Box Model */
    margin-bottom: calc(7.6875rem + 5.3125rem + 2.625rem);
  }

  .header__menu {
    /* The Box Model */
    margin-bottom: 5.4375rem;
  }

  .menu-item {
    /* The Typography */
    font-size: 2.25rem;
  }

  .btn {
    /* The Typography */
    font-size: 1.125rem;
  }

  .btn--header:link,
  .btn--header:visited {
    /* The Background */
    padding: 0.875rem 1.9375rem 0.875rem 2rem;
  }
  /* The Hero Area */
  /**********************/

  .hero {
    /* The Grid */
    display: grid;
    grid-template-columns: 41.171171171% 58.828828829%;
    column-gap: 10.125rem;
    row-gap: 0;
  }

  .hero__content-area {
    /* The Box Model */
    padding-top: 5.3125rem;
  }

  .hero__title {
    /* The Typography */
    font-weight: 800;
    font-size: 3.5rem;
    line-height: 4.4375rem;
    color: #13183f;
    /* The Box Model */
    margin-bottom: 1.8125rem;
  }
  .hero__description {
    /* The Typography */
    font-size: 1.125rem;
    line-height: 1.75rem;
    /* The Box Model */
    margin-bottom: 2.5rem;
  }

  .hero__img {
    /* The Positioning */
    /* transform: scale(1.44) translateX(11%) translateY(-5%); */

    /* The Positioning */
    position: absolute;
    top: -9.1875rem;
    left: 45.75rem;
    z-index: -1;
  }

  .space2::before {
    content: "\A";
    white-space: pre;
  }

  .hero__btn:link,
  .hero__btn:visited {
    /* The Typography */
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: #ffffff;
    /* The Background */
    padding: 1.1875rem 1.9375rem 1rem 2rem;
  }

  /* The Main Area */
  /**********************/
  /* The Card Area */
  /**********************/

  .card {
    /* The Box Model */
    padding-bottom: 8.75rem;
  }

  .card-grid {
    /* The CSS Grid */
    grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
    column-gap: 1.875rem;
    row-gap: 5rem;
  }
  .card__item--primary {
    /* The Background */
    padding: 4rem 2rem 8.625rem;
    /* The Background */
    border-radius: 15px;
  }

  .card__item-icon {
    /* The Positioning */
    position: absolute;
    top: calc(-9% + 1%);
  }

  .card__item--primary-title {
    /* The Typography */
    font-weight: 800;
    font-size: 2rem;
    line-height: 2.5rem;
    color: #ffffff;
  }
  .card__item {
    /* The Box Model */
    padding: 4rem 2rem 2.5rem;
    /* The Flexbox */
    display: flex;
    flex-direction: column;
    /* The Background */
    border-radius: 15px;
  }

  .card__item-title {
    /* The Typography */
    font-size: 1.5rem;
    line-height: 1.875rem;
    /* The Box Model */
    margin-bottom: 1.5rem;
  }
  .card__item-description {
    /* The Typography */
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  .card__item-link:link,
  .card__item-link:visited {
    /* The Flexbox */
    margin-top: auto;
  }

  /* The Footer Area */
  /**********************/
  .footer {
    /* The Box Model */
    padding: 2rem 0;
  }
  .btn--footer:link,
  .btn--footer:visited {
    /* The Background */
    padding: 0.875rem 1.9375rem 0.875rem 2rem;
    background: linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
    border-radius: 28px;
  }
  .btn--footer:hover,
  .btn--footer:active {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
  }
}
