/* THE SETTINGS FOR DESKTOPS */
/* Above the 375px */

@media (min-width: 1000px) {
  /********************/
  /* Global Style */
  /********************/

  /* The Layout Settings */
  /********************/

  .wrapper {
    /* The Box Model */
    min-width: 1440px; /* -> for max-width of the container depending on the design (for the tablet) */
    padding-top: 24px;
    /* The Flexbox */
    display: flex;
    flex-direction: column;
  }

  .container {
    /* The Box Model */
    width: 77.083333%; /* -> for  1110 width of the content area depending on the design (for the tablet) */
    /* -> for 165 margin-left and 165 margin-right of the container depending on the design (for the tablet) */
    margin: 0 auto;
  }

  /********************/
  /* Components Style */
  /********************/

  /* The Header Area */
  /**********************/

  .header {
    /* The Box Model */
    margin-bottom: calc(123px + 85px + 42px);
  }

  .header__menu {
    /* The Box Model */
    margin-bottom: 87px;
  }

  .menu-item {
    /* The Typography */
    font-size: 36px;
  }

  .btn {
    /* The Typography */
    font-size: 18px;
  }

  .btn--header:link,
  .btn--header:visited {
    /* The Background */
    padding: 14px 31px 14px 32px;
    background: #13183f;
    border-radius: 28px;
  }
  /* The Hero Area */
  /**********************/

  .hero {
    /* The Grid */
    display: grid;
    grid-template-columns: 41.171171171% 58.828828829%;
    column-gap: 162px;
    row-gap: 0;
  }

  .hero__content-area {
    /* The Box Model */
    padding-top: 85px;
  }

  .hero__title {
    /* The Typography */
    font-weight: 800;
    font-size: 56px;
    line-height: 71px;
    color: #13183f;
    /* The Box Model */
    margin-bottom: 29px;
  }
  .hero__description {
    /* The Typography */
    font-size: 18px;
    line-height: 28px;
    /* The Box Model */
    margin-bottom: 40px;
  }

  .hero__img {
    /* The Positioning */
    /* transform: scale(1.44) translateX(11%) translateY(-5%); */

    /* The Positioning */
    position: absolute;
    top: -147px;
    left: 732px;
    z-index: -1;
  }

  .space2::before {
    content: "\A";
    white-space: pre;
  }

  .hero__btn:link,
  .hero__btn:visited {
    /* The Typography */
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
    /* The Background */
    padding: 19px 31px 16px 32px;
  }

  /* The Main Area */
  /**********************/
  /* The Card Area */
  /**********************/

  .card {
    /* The Box Model */
    padding-bottom: 140px;
  }

  .card-grid {
    /* The CSS Grid */
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    column-gap: 30px;
    row-gap: 80px;
  }
  .card__item--primary {
    /* The Background */
    padding: 64px 32px 138px;
  }

  .card__item--primary-title {
    /* The Typography */
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    color: #ffffff;
  }
  .card__item {
    /* The Box Model */
    padding: 64px 32px 40px;
    /* The Flexbox */
    display: flex;
    flex-direction: column;
  }

  .card__item-title {
    /* The Typography */
    font-size: 24px;
    line-height: 30px;
    /* The Box Model */
    margin-bottom: 24px;
  }
  .card__item-description {
    /* The Typography */
    font-size: 18px;
    line-height: 28px;
  }
  .card__item-link:link,
  .card__item-link:visited {
    /* The Flexbox */
    margin-top: auto;
  }

  /* The Footer Area */
  /**********************/
  .footer {
    /* The Box Model */
    padding: 32px 0;
  }
  .btn--footer:link,
  .btn--footer:visited {
    /* The Background */
    padding: 14px 31px 14px 32px;
  }
}
