/* THE SETTINGS FOR TABLETS */
/* Above the 375px */

@media (min-width: 31.25em) {
  /********************/
  /* Global Style */
  /********************/

  /* The Layout Settings */
  /********************/

  .wrapper {
    /* The Box Model */
    max-width: 48rem; /* -> for max-width of the container depending on the design (for the tablet) */
    padding-top: 1.5rem;
    /* The Flexbox */
    display: flex;
    flex-direction: column;
  }
  .container {
    /* The Box Model */
    width: 89.713541667%; /* -> for 689px width of the content area depending on the design (for the tablet) */

    margin-right: calc(
      ((100% - 89.713541667%) / 2) + 0.066145833%
    ); /* -> 39px */
    margin-left: calc(((100% - 89.713541667%) / 2) - 0.0640625%); /* -> 40px */
    /* -> for 39px margin-left and 40px margin-right of the container depending on the design (for the tablet) */
  }

  /********************/
  /* Components Style */
  /********************/

  /* The Header Area */
  /**********************/

  .header {
    /* The Box Model */
    margin-bottom: calc(7.6875rem + 5.3125rem);
  }
  .header__menu {
    /* The Box Model */
    margin-bottom: 2.25rem;
  }

  /* The Hero Area */
  /**********************/
  .hero {
    /* The Grid */
    display: grid;
    grid-template-columns: 60% 40%;
  }

  .hero__content-area {
    /* The Box Model */
    padding-top: 4.0625rem;
  }

  .hero__title {
    /* The Box Model */
    margin-bottom: 1.5625rem;
  }

  .space::before {
    content: "";
  }

  .hero__img-area {
    /* The Box Model */
    padding: 0;
  }

  .hero__img {
    /* The Positioning */
    /* transform: scale(1.43) translateX(-5.3%) translateY(-2%); */

    /* The Positioning */
    position: absolute;
    top: -5.8125rem;
    left: 23.125rem;
    z-index: -1;
  }

  /* The Main Area */
  /**********************/
  /* The Card Area */
  /**********************/

  .card {
    /* The Box Model */
    padding-bottom: 5.375rem;
  }

  .card-grid {
    /* The CSS Grid */
    grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
    column-gap: 0.6875rem;
    row-gap: 3.5rem;
  }
  .card__item--primary {
    /* The Background */
    padding: 3.5rem 1.3125rem 8.6875rem 2rem;
  }
  .card__item {
    /* The Box Model */
    padding: 3.5rem 1.3125rem 2rem 2rem;
  }
}
