/* THE MOBILE FIRST SOLUTION */
/* Under the XXXpx */

/********************/
/* Global Style */
/********************/
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
body {
  /* The Typography */
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  /* To center the content */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}
a {
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s;
}
ul {
  list-style-type: none;
}
.flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* The Layout Settings */
/********************/

.wrapper {
  /* The Box Model */
  max-width: 375px; /* -> for max-width of the container depending on the design (for mobile) */
  padding-top: 16px;
  /* The Flexbox */
  display: flex;
  flex-direction: column;
}
.container {
  /* The Box Model */
  width: 91.466666%; /* -> for 16px margin right and left of the container and 343px width of the content area depending on the design (for mobile) */
  margin: 0 auto;
}

/********************/
/* Components Style */
/********************/

/* The Header Area */
/**********************/

.header {
  /* The Box Model */
  margin-bottom: 66px;
}
.header__menu {
  /* The Box Model */
  margin-bottom: 38px;
}
.header__menu-list {
  /* The Flexbox */
}
.menu-item {
  /* The Typography */
  font-weight: 800;
  font-size: 28px;
  line-height: 35px;
}
.menu-item--header {
  color: #13183f;
}
.btn {
  /* The Typography */
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}
.btn--header:link,
.btn--header:visited {
  /* The Background */
  padding: 9px 24px 11px;
  background: #13183f;
  border-radius: 28px;
}
.btn--header:hover,
.btn--header:active {
  background: #666ca3;
}
/* The Hero Area */
/**********************/
.hero {
  /* The Flexbox */
}
.hero__content-area {
  /* empty */
}
.hero__title {
  /* The Typography */
  font-weight: 800;
  font-size: 40px;
  line-height: 50px;
  color: #13183f;
  /* The Box Model */
  margin-bottom: calc(26px + 1px);
}
.hero__description {
  /* The Typography */
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #83869a;
  /* The Box Model */
  margin-bottom: 24px;
}
.space::before {
  content: "\A";
  white-space: pre;
}
.hero__btn:link,
.hero__btn:visited {
  /* The Typography */
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  /* The Box Model */
  margin-bottom: 46px;
  /* The Background */
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  border-radius: 31.5px;
  padding: 15px 37px 15px 38px;
}
.hero__btn:hover,
.hero__btn:active {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
}
.hero__img-area {
  /* The Box Model */
  width: 100%;
  padding: 0 8px;
}
.hero__img {
  /* The Box Model */
  display: block;
  max-width: 100%;
}
/* The Main Area */
/**********************/
/* The Card Area */
/**********************/
.card {
  /* The Background */
  background: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
  /* The Box Model */
  padding-bottom: 80px;
}
.card-grid {
  /* The CSS Grid */
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 40px;
}
.card__item--primary {
  /* The Background */
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  border-radius: 10px;
  /* The Box Model */
  padding: 24px 29px 32px 28px;
}
.card__item--primary-title {
  /* The Typography */
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
}
.card__item {
  /* The Background */
  background: #ffffff;
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
  border-radius: 10px;
  /* The Box Model */
  padding: 56px 29px 32px 28px;
  /* The Positioning */
  position: relative;
}
.card__item-icon {
  /* The Positioning */
  position: absolute;
  top: -9%;
}
.card__item-title {
  /* The Typography */
  font-weight: 800;
  font-size: 20px;
  line-height: 25px;
  color: #13183f;
  /* The Box Model */
  margin-bottom: 16px;
}
.card__item-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #83869a;
  /* The Box Model */
  margin-bottom: 24px;
}
.card__item-link:link,
.card__item-link:visited {
  /* The Typography */
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #f74780;
}
.card__item-link:hover,
.card__item-link:active {
  color: #ffa7c3;
}
/* The Footer Area */
/**********************/
.footer {
  /* The Background */
  background: #13183f;
  /* The Box Model */
  padding: 36px 0;
}
.footer__menu {
  /* empty */
}

.footer__menu-list {
  /* The Flexbox */
}
.menu-item--footer {
  color: #ffffff;
}
.btn--footer:link,
.btn--footer:visited {
  /* The Background */
  background: linear-gradient(180deg, #4851ff 0%, #f02aa6 100%);
  border-radius: 28px;
  padding: 9px 24px 11px;
}
.btn--footer:hover,
.btn--footer:active {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
}
