/* THE MOBILE FIRST SOLUTION */
/* Under the 375px */

/********************/
/* Global Style */
/********************/
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
body {
  /* The Typography */
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  /* To center the content */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
a {
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s;
}
ul {
  list-style-type: none;
}
.flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* The Layout Settings */
/********************/

.wrapper {
  /* The Box Model */
  max-width: 23.4375rem; /* -> for max-width of the container depending on the design (for the mobile) */
  padding-top: 1rem;
  /* The Flexbox */
  display: flex;
  flex-direction: column;

  overflow-x: hidden;
  position: relative;
}

.container {
  /* The Box Model */
  width: 91.466666%; /* -> for 16px margin right and left of the container and 343px width of the content area depending on the design (for the mobile) */
  margin: 0 auto;
}

/********************/
/* Components Style */
/********************/

/* The Header Area */
/**********************/

.header {
  /* The Box Model */
  margin-bottom: 4.125rem;
}
.header__menu {
  /* The Box Model */
  margin-bottom: 2.375rem;
}
.header__menu-list {
  /* The Flexbox */
}
.menu-item {
  /* The Typography */
  font-weight: 800;
  font-size: 1.75rem;
  line-height: 2.1875rem;
}
.menu-item--header {
  color: #13183f;
}
.btn {
  /* The Typography */
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.75rem;
  color: #ffffff;
}
.btn--header:link,
.btn--header:visited {
  /* The Background */
  padding: 0.5625rem 1.5rem 0.6875rem;
  background: #13183f;
  border-radius: 1.75rem;
}
.btn--header:hover,
.btn--header:active {
  background: #666ca3;
}
/* The Hero Area */
/**********************/
.hero {
  /* The Grid */
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 46px;
}
.hero__content-area {
  /* empty */
}
.hero__title {
  /* The Typography */
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 3.125rem;
  color: #13183f;
  /* The Box Model */
  padding-bottom: 0.0625rem;
  margin-bottom: 1.625rem;
}
.hero__description {
  /* The Typography */
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.625rem;
  color: #83869a;
  /* The Box Model */
  margin-bottom: 1.5rem;
}
.space::before {
  content: "\A";
  white-space: pre;
}
.hero__btn:link,
.hero__btn:visited {
  /* The Typography */
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.625rem;
  color: #ffffff;
  /* The Background */
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  border-radius: 31.5px;
  padding: 0.9375rem 2.3125rem 0.9375rem 2.375rem;
}
.hero__btn:hover,
.hero__btn:active {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
}
.hero__img-area {
  /* The Box Model */
  width: 100%;
  padding: 0 0.5rem;
}
.hero__img {
  /* The Box Model */
  display: block;
  max-width: 100%;
}

/* The Main Area */
/**********************/
/* The Card Area */
/**********************/
.sr-only {
  position: absolute;
  top: auto;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.card {
  /* The Background */
  background: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
  /* The Box Model */
  padding-bottom: 5rem;
}
.card-grid {
  /* The CSS Grid */
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 2.5rem;
}
.card__item--primary {
  /* The Background */
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  border-radius: 0.625rem;
  /* The Box Model */
  padding: 1.5rem 1.8125rem 2rem 1.75rem;
}
.card__item--primary-title {
  /* The Typography */
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #ffffff;
}
.card__item {
  /* The Background */
  background: #ffffff;
  box-shadow: 0rem 1.5625rem 3.125rem rgba(6, 22, 141, 0.0442381);
  border-radius: 0.625rem;
  /* The Box Model */
  padding: 3.5rem 1.8125rem 2rem 1.75rem;
  /* The Positioning */
  position: relative;
}
.card__item-icon {
  /* The Positioning */
  position: absolute;
  top: -9%;
}
.card__item-title {
  /* The Typography */
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 1.5625rem;
  color: #13183f;
  /* The Box Model */
  margin-bottom: 1rem;
}
.card__item-description {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.625rem;
  color: #83869a;
  /* The Box Model */
  margin-bottom: 1.5rem;
}
.card__item-link:link,
.card__item-link:visited {
  /* The Typography */
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #f74780;
}
.card__item-link:hover,
.card__item-link:active {
  color: #ffa7c3;
}
/* The Footer Area */
/**********************/
.footer {
  /* The Background */
  background: #13183f;
  /* The Box Model */
  padding: 2.25rem 0;
}
.footer__menu {
  /* empty */
}

.footer__menu-list {
  /* The Flexbox */
}
.menu-item--footer {
  color: #ffffff;
}
.btn--footer:link,
.btn--footer:visited {
  /* The Background */
  background: linear-gradient(180deg, #4851ff 0%, #f02aa6 100%);
  border-radius: 1.75rem;
  padding: 0.5625rem 1.5rem 0.6875rem;
}
.btn--footer:hover,
.btn--footer:active {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
}
